

<app-navi></app-navi>
<div class="row">
    <div class="col-md-8">
         <p>Cars</p>
         <app-car></app-car>
    </div>
    <div class="col-md-2">
         <p>Colors</p>
         <app-color></app-color>
   </div>
   <div class="col-md-2">
        <p>Brands</p>
         <app-brand></app-brand>
   </div>
</div>
<div class="row">
   <div class="col-md-6">
        <p>Customers</p>
        <app-customer></app-customer>
   </div>
   <div class="col-md-6">
       <p>Rentals</p>
        <app-rental></app-rental>
   </div>
</div>
<router-outlet></router-outlet>